# ========================
# Java / Maven
# ========================
**/target/
*.class
*.log

# ========================
# Node / Angular
# ========================
**/node_modules/
**/dist/
**/.angular/
**/coverage/

# ========================
# Environment / Secrets
# ========================
.env
**/application-local.yml
**/application-local.properties

# ========================
# IDE
# ========================
.vscode/
.idea/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
